<% include ../layout/header %>
    <!-- Left Panel -->
    <% include ../layout/menu %>
        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <% include ../layout/navbar %>
                <!-- Content -->

                <div class="content">
                    <div class="animated fadeIn">

                        <div class="row">

                            <div class="col-xs-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Update Category</strong>
                                    </div>

                                    <% if(success_msg != ''){ %>
                                        <div class="alert alert-success">
                                            <%= success_msg%>
                                        </div>
                                        <% } %>
                                            <% if(error_msg != ''){ %>
                                                <div class="alert alert-danger">
                                                    <%= error_msg%>
                                                </div>
                                                <% } %>
                                                    <% if(errors) { %>
                                                        <div class="alert alert-danger">
                                                            <% errors.forEach(function(e){ %>
                                                                <%= e.msg %> <br/>
                                                                    <%});%>
                                                        </div>
                                                        <% };%>

                                                            <form method="POST">
                                                                <div class="card-body card-block">
                                                                    <div class="form-group">
                                                                        <label class=" form-control-label">Title</label>
                                                                        <div class="input-group">
                                                                            <input value="<%= result.name %>" type="text" name="cate_name" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class=" form-control-label">Description</label>
                                                                        <textarea class="form-control" name="cate_description" cols="10" rows="5"><%= result.description %></textarea>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-info">Submit</button>
                                                            </form>
                                                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
                <!-- .content -->
                <div class="clearfix"></div>

                <% include ../layout/footer %>